[SddmGreeterTheme]
Name=Fallout Terminal
Description=Green-phosphor RobCo-style terminal login
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=fallout-terminal
Theme-API=2.0
QtVersion=6
